/*
 * Power Function
 *
 * Function to do exponential math
 * $x: number to multiply
 * $n: expontent
 *
 * Function to multiply $x to the power of $n
 */
@function power($x, $n) {
  $return: 1;
  @if $n > 0 {
    @for $i from 1 through $n {
      $return: $return * $x;
    }
  } @else if $n < 0 {
    @for $i from $n to 0 {
      $return: $return / $x;
    }
  }
  @return $return;
}
