$logos: (
  footer: (
    small: (
      height: 42px,
      width: 84px,
      file: logo-small
    ),
    home: (
      height: 314px,
      width: 50%,
      file: logo-home
    ),
    normal: (
      height: 90px,
      width: 176px,
      file: logo-footer
    ),
  )
)