$in_mq: false !global;

@mixin px-rem($property, $values...) {
	$pxValues: ();
	$remValues: ();

	@each $value in $values {
		$val: strip-units($value);
		@if index("initial" "inherit" "auto" 0, $value) != null {
			$pxValues: append($pxValues, $val);
			$remValues: append($remValues, $val);
		} @else {
			$pxValues: append($pxValues, $val*1px);
			$remValues: append($remValues, rem($val) );
		}
	}
	@if $in_mq = false {
		#{$property}: $pxValues;
	}
	#{$property}: $remValues;
}
@mixin fs($number) {
	@include px-rem(font-size, $number);
}

@mixin center($hz:true,$vt:true) {
	.csstransforms & {
		position: relative;
		@if $hz == true and $vt == true {
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		} @else if $hz == true {
			left: 50%;
			transform: translateX(-50%);
		} @else if $vt == true {
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

@mixin hide($bp, $reset: null) {
	@if $reset {
		@include bp($bp) {
			display: block;
			width: auto;
			height: auto;
			overflow: auto;
			clip: none;
		}
	} @else {
		@if $bp == all {
			display: none;
			width: 0;
			height: 0;
			overflow: hidden;
			clip: rect(0,0,0,0);
		} @else {
			@include bp($bp) {
				display: none;
				width: 0;
				height: 0;
				overflow: hidden;
				clip: rect(0,0,0,0);
			}
		}
	}
}

@mixin bp($name) {
	@if map-has-key($breakpoints, $name) == null {
		@warn "Invalid breakpoint `#{$name}`.";
	} @else {
		@if map-get($breakpoints, $name) {
			$in_mq: true !global;
			@media (min-width: map-get($breakpoints, $name)) {
				@content;
			}
			$in_mq: false !global;
		} @else {
			@content;
		}
	}
}

@mixin fsmooth($yes: yes) {
	@if $yes == 'no' {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: subpixel-antialiased;
	} @else {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: antialiased;
	}
}

@mixin bonus-susy-breakpoint($size, $cols, $grid: false) {
  @if map-get($size, min-width) == null {
    @error 'The map you specified does not have a min-width value.';
  } @else {
    $min-width: map-get($size, min-width);
    @include susy-breakpoint($min-width, $size) {
      @if $cols == container {
        @include container;
        @if $grid == true {
          @include show-grid;
        }
      } @else {
        @include span($cols);
      }
    }
  }
}

@function get_bp($label) {
	@return map-get($breakpoints, $label);
}

@function round-num($num) {
	@return round($num*100)/100;
}

@mixin spread-value($property, $value-start, $value-end, $bp-start: small, $bp-end: large) {
	@if type-of($value-start) != number or type-of($value-end) != number {
		@warn 'Either $value-start or $value-end is not a number: `#{$value-start}` | `#{$value-end}';
	} @else {
		@if $property == font-size {
			@include fs($value-start);
		} @else {
			#{$property}: #{$value-start};
		}
		$value-distance: $value-end - $value-start;
		$bp-distance: get_bp($bp-end) - get_bp($bp-start);
		$bp-keys: map-keys($breakpoints);
		$bp-list: ();
		$i: index($bp-keys, $bp-start);
		@while $i <= length($bp-keys) and nth($bp-keys, $i) != $bp-end {
			$i: $i + 1;
			$bp-list: join($bp-list, nth($bp-keys, $i));
		}
		@each $key in $bp-list {
			$percentage: ( get-bp($key) - get_bp($bp-start) ) / $bp-distance;
			$output: round-num( ( $value-distance * $percentage ) + $value-start );
			@include breakpoint($key) {
				@if $property == font-size {
					@include fs($output);
				} @else {
					#{$property}: #{$output};
				}
			}
		}
	}
}

@mixin no-spread-value($property, $values...) {
	@if $property == font-size {
		@include fs(nth($values, 1));
	} @else {
		#{$property}: nth($values, 1);
	}
	@if length($values) == length(map-keys($breakpoints)) {
		@each $key in $bp-keys {
			@include breakpoint($key) {
				@if $property == font-size {
					@include fs(nth($values, index($bp-keys, $key)));
				} @else {
					#{$property}: nth($values, index($bp-keys, $key));
				}
			}
		}
	} @else {
		@warn 'You need as many values as there are breakpoints for this mixin.';
	}
}

@function color-variation($color, $variation: false) {
	@if map-has-key($colors, $color) != null {
		$color: map-get($colors, $color);
	} @else {
		@if type-of($color) != color {
			@warn "Invalid color name: #{$color}.";
		}
	}
	@if $variation {
		@if map-has-key($variations, $variation) == null {
			@warn "Invalid $variation: `#{$variation}`.";
		} @else {
			$this-variation: map-get($variations, $variation);
			$args: join(map-get($this-variation, function), $color);
			@if map-get($this-variation, parameters) != null {
				$args: join($args, map-get($this-variation, parameters));
			}
			@return call($args...);
		}
	}
	@return $color;
}