$max-width: 1200px;
$grid-columns: 16;
$gutter: 1em;
$em-base: 16px;

$breakpoints: (
	small: 480px,
	medium: 720px,
	large: 1024px
);


/* SUSY SUPPORT */

$susy: (
	columns: 1,
	gutter: 0,
	// debug: (
	// 	image: show,
	// 	color: rgba(orange, .25),
	// 	output: background
	// )
);

$small: (
	min-width: 480px,
	columns: 2,
	gutters: .125
);

$medium: (
	min-width: 720px,
	columns: 6,
	gutters: .25
);

$large: (
	min-width: 1024px,
	container: 1024px,
	columns: 12,
	gutters: .33
);


/* COLOR MANAGEMENT SUPPORT */

$colors: (
  red: #ff4136,
  blue: #0074d9,
  yellow: #ffdc00,
  orange: #ff851b
);